html,
body,
* {
  text-align: center;
  padding: 0;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px, we want the size to be 10pz, so we do 62.5% */
}

.a {
padding: 5rem;
font-size: 100rem;
width: 100rem;
}

h1 {
font-size: 8rem;

}