html,
body,
* {
  text-align: center;
  padding: 0;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px, we want the size to be 10pz, so we do 62.5% */
}

.c,
.f,
.m,
.r4,
.r5 {
  width: 28rem;
  height: 8rem;
  padding: 2rem 4rem 2rem 4rem;
  font-size: 3rem;
  margin: 4rem;
  background-color: var(--darkP);
  border-radius: 2rem;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5rem auto;
  width: 90%;
  transition: all 0.3s;
}

#header {
  padding-top: 10vh;
}

#tb {
  font-size: 3.5rem;
}

#api-response-1,
#api-response-2,
#api-response-3 {
  font-size: 2.5rem;
}

.display-birthday,
.displpay-rarity {
  padding: 4vh;
}

.display-name,
.display-type,
.display-weapon {
  padding: 2vh;
}

.flip-card {
  background-color: transparent;
  width: 45rem;
  height: 45rem;
  perspective: 1000px;
  margin: 5rem auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--lightP);
  border: 0.5rem solid var(--Black);
}

.flip-card-front {
  color: var(--Black);
  border-radius: 15px;
  padding: 5vh 2vh 5vh 2vh;
}

.flip-card-back {
  color: var(--Black);
  transform: rotateY(180deg);
  border-radius: 15px;
  padding: 4vh;
}

:root {
  --white: #ffffff;
  --lightP: rgb(224, 201, 252);
  --darkP: rgb(152, 55, 242);
  --Black: #000000;

  --primary: var(--Black);
  --secondary: var(--lightP);

  --app: 3.375rem;
  --h1: 7rem;
  --h2: 5rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 1280px) {
  :root {
    --app: 3.375rem;
    --h1: 7.3rem;
    --h2: 5.3rem;
    --h3: 3.5rem;
    --h4: 2.5rem;
    --h5: 1.8rem;
  }
}

@media screen and (max-width: 810px) {
  .c,
  .f,
  .m,
  .r4,
  .r5 {
    width: 27rem;
    height: 7rem;
    padding: 1.5rem 3rem 1.5rem 3rem;
    margin: 4rem;
  }

  :root {
    --h1: 6rem;
    --h2: 5rem;
    --h3: 3rem;
    --h4: 2rem;
    --h5: 1.8rem;
  }
}

@media screen and (max-width: 390px) {
  #header {
    padding-top: 5vh;
  }

  .c,
  .f,
  .m,
  .r4,
  .r5 {
    width: 15rem;
    height: 5rem;
    padding: 0.7rem 2rem 0.7rem 2rem;
    font-size: 1.5rem;
    margin: 1.5rem;
  }

  :root {
    --h1: 4.3rem;
    --h2: 3rem;
    --h3: 2rem;
    --h4: 1.7rem;
    --h5: 1.8rem;
  }

  .flip-card {
    width: 30rem;
    height: 30rem;
    margin: 2rem auto;
  }

  .flip-card-back {
    padding: 3vh 4vh 3vh 4vh;
  }

  .display-birthday,
  .displpay-rarity {
    padding: 2vh;
  }
}
