html,
body,
* {
  text-align: center;
  padding: 0;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px, we want the size to be 10pz, so we do 62.5% */
}

.c,
.e,
.w,
.f,
.m,
.r4,
.r5,
.v,
.click,
#button-container {
  width: 28rem;
  height: 8rem;
  padding: 2rem 5rem 2rem 5rem;
  font-size: 3rem;
  margin: 5rem;
  background-color: blueviolet;
  border-radius: 2rem;
}

/* 
PyroBtn = document.createElement('button');
      let AnemoBtn = document.createElement('button');
      let ElectroBtn = document.createElement('button');
      let DendroBtn = document.createElement('button');
      let HydroBtn = document.createElement('button');
      let GeoBtn = document.createElement('button');
      let CryoBtn */

.display {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5rem auto;
  width: 90%;
  transition: all 0.3s;
}

#header {
  padding-top: 10vh;
}

#tb {
  font-size: 3.5rem;
}

#api-response-1,
#api-response-2,
#api-response-3 {
  font-size: 2.5rem;
}

.display-birthday,
.displpay-rarity {
  padding: 4vh;
}

.display-name,
.display-type,
.display-weapon {
  padding: 2vh;
}

.flip-card {
  background-color: transparent;
  width: 45rem;
  height: 45rem;
  perspective: 1000px;
  margin: 5rem auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--gray);
  border: 0.5rem solid var(--primary);
}

.flip-card-front {
  color: var(--black);
  border-radius: 15px;
  padding: 5vh 2vh 5vh 2vh;
}

.flip-card-back {
  color: var(--black);
  transform: rotateY(180deg);
  border-radius: 15px;
  padding: 4vh;
}

:root {
  --white: #ffffff;
  --gray: rgb(224, 201, 252);
  --black: #000000;
  --pyro: #ef3333;
  --geo: rgb(251, 215, 6);
  --dendro: rgba(45, 252, 162, 0.697);
  --anemo: #72e7c6;
  --cryo: rgb(56, 238, 232);
  --hydro: rgb(66, 92, 226);
  --electro: rgb(153, 16, 212);

  --primary: var(--black);
  --secondary: var(--geo);

  --app: 3.375rem;
  --h1: 7rem;
  --h2: 5rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  margin: auto;
}
